<button routerLink= "/">Back to cakes</button>
<br><br>
<form [formGroup]="form" (submit)="save()">
  <input formControlName="id" type="hidden" />
  <label>Name</label><br>
  <input formControlName="name" />
  <br><br>
  <label>Comment</label><br>
  <input formControlName="comment" />
  <br><br>
  <label>Image Url</label><br>
  <input formControlName="imageUrl" />
  <br><br>
  <label>Yum Factor</label><br>
  <select formControlName="yumFactor">
      <option [ngValue]="1">1</option>
      <option [ngValue]="2">2</option>
      <option [ngValue]="3">3</option>
      <option [ngValue]="4">4</option>
      <option [ngValue]="5">5</option>
  </select>
  <br><br>
  <button type="submit">Submit</button>
</form>